# 用户文件
*.user

# 升级后的用户文件
*.pro.user.*

# 快捷方式
*.lnk

# Windows 特殊文件
Thumbs.db
desktop.ini

# Mac 特殊文件
.DS_Store

# 编辑器临时文件
*~

# 日志文件
*.log

# In repository we don't need to have:
# Compiled object files
*.o

# Generated MOC, resource and UI files
moc_*.cpp
qrc_*.cpp
ui_*.h

# Visual Studio 的项目文件
.vs/

# 编译输出文件
build-*

